// .inter-<uniquifier > {
//   font-family: "Inter", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: normal;
// }

@mixin fontInter($weight) {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

button:hover {
  cursor: pointer;
}

select {
  padding: 10px;
  font-size: 15px;
  color: rgba(22, 36, 44, 1);
  background-color: rgba(255, 255, 255, 1);
  @include fontInter(500);
}

.nav-media {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: -150%;
  background-color: #00000055;
  z-index: 999;
  transition: 500ms;

  .nav-con-media {
    width: 100%;
    min-height: 65vh;
    padding: 10px;
    // background: rgb(223, 242, 244);
    background: linear-gradient(to bottom right, #ffffff, rgb(189, 240, 245));
    @include fontInter(600);
    font-size: 16px;
    color: rgba(7, 34, 96, 1);

    p {
      margin-bottom: 12px;
    }

    .contact {
      width: 100%;
      height: 111px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      margin-bottom: 15px;
      gap: 8px;
      p {
        margin: 0;
        margin-left: 10px;
      }
      .tg-box {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
      }
    }

    .dropdown-toggle {
      background: transparent;
      border: none;
      font-weight: bold;
      cursor: pointer;
      font-size: 16px;
      display: flex;
      gap: 6px;
      align-items: center;
      height: 100%;
      color: rgba(7, 34, 96, 1);
      margin-bottom: 12px;
    }

    .dropdown-menu {
      display: none;
      list-style: none;
      padding-left: 15px;
    }

    .dropdown-menu li {
      padding: 6px 0;
      color: rgba(147, 147, 147, 1);
      cursor: pointer;
      @include fontInter(400);
      font-size: 16px;
    }

    .dropdown-menu li:hover {
      color: #000;
    }

    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
      .logo-img {
        width: 56px;
        height: 36px;
      }
    }

    .hr {
      width: 100%;
      height: 1px;
      background-color: rgba(235, 235, 235, 1);
      margin-bottom: 40px;
    }

    .btn-1 {
      width: 100%;
      height: 40px;
      border: 1px solid rgba(42, 171, 238, 1);
      color: rgba(42, 171, 238, 1);
      background-color: transparent;
      @include fontInter(500);
      font-size: 14px;
      border-radius: 10px;
      margin-bottom: 6px;
    }
    .btn-2 {
      width: 100%;
      height: 40px;
      background-color: rgba(42, 171, 238, 1);
      color: #fff;
      @include fontInter(500);
      font-size: 14px;
      border: none;
      border-radius: 10px;
      display: flex;
      align-items: center;
      gap: 8px;
      justify-content: center;
    }
  }
}

.sec-1 {
  width: 100%;
  padding: 10px;
  margin-bottom: 80px;

  .sec1-con {
    max-width: 1210px;
    height: 100%;
    margin: 0 auto;
    padding: 15px;
    border-radius: 15px;
    // background: radial-gradient(101.33% 227.09% at 8.8% 55.69%, rgba(255, 255, 255, 0.25) 0%, rgba(0, 161, 255, 0.25) 57.81%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    background: radial-gradient(
      101.33% 227.09% at 8.8% 55.69%,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(0, 161, 255, 0.2) 57.81%
    );
    .nav-con {
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 15px;
      box-shadow: 0px 2px 11.3px 0px rgba(185, 175, 175, 0.25);
      border-radius: 14px;
      background-color: white;
      margin-bottom: 47px;
      background: linear-gradient(to bottom right, #ffffff, rgb(229, 247, 249));

      .num {
        @include fontInter(600);
        font-size: 14px;
        color: rgba(7, 34, 96, 1);
        margin-left: auto;
      }

      .logo-menu {
        display: flex;
        align-items: center;
        gap: 130px;

        .logo-img {
          width: 71px;
          height: 45px;
        }

        ul {
          list-style: none;
          display: flex;
          gap: 30px;
          color: rgba(7, 34, 96, 1);
          font-size: 14px;
          @include fontInter(600);
          .dropdown {
            position: relative;
            display: inline-block;
          }

          .dropdown-menu {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            min-width: 160px;
            background: rgba(255, 255, 255, 1);
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            border-radius: 14px;
            padding: 10px;
            z-index: 100;
            width: 210px;
          }

          .dropdown:hover .dropdown-menu {
            display: block;
          }

          .dropdown-menu li {
            @include fontInter(400);
            font-size: 14px;
            color: rgba(147, 147, 147, 1);
            margin-bottom: 10px;
            cursor: pointer;
          }

          .dropdown-menu li:hover {
            color: rgba(7, 34, 96, 1);
          }

          // -------------------------------------------------

          .dropdown-toggle {
            background: transparent;
            border: none;
            font-weight: bold;
            cursor: pointer;
            display: flex;
            gap: 6px;
            align-items: center;
            height: 100%;
            @include fontInter(600);
            font-size: 14px;
            color: rgba(7, 34, 96, 1);
          }
        }
      }

      .btn-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        margin-left: 22px;
        .contact {
          display: flex;
          align-items: center;
          gap: 22px;
        }

        .lan {
          @include fontInter(400);
          font-size: 14px;
          display: flex;
          align-items: center;
          gap: 6px;
          color: rgba(7, 34, 96, 1);
        }

        .btn-gr {
          display: flex;
          align-items: center;
          gap: 6px;
        }

        .btn-1 {
          width: 90px;
          height: 40px;
          border-radius: 9px;
          border: 1px solid rgba(42, 171, 238, 1);
          background-color: transparent;
          padding: 10px;
          color: rgba(42, 171, 238, 1);
          @include fontInter(500);
        }
        .btn-2 {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 206px;
          height: 40px;
          border-radius: 9px;
          border: 1px solid rgba(42, 171, 238, 1);
          gap: 8px;
          padding: 10px;
          color: rgba(255, 255, 255, 1);
          background: linear-gradient(180deg, #2aabee 0%, #229ed9 10000%);

          @include fontInter(500);
        }
        .burger {
          display: none;
        }
      }
    }

    .sec1-card {
      max-width: 1050px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 57px;
      position: relative;

      .row {
        position: absolute;
        top: 200px;
        left: 50%;
        transform: translate(-50%, 0);
      }

      .logo {
        position: fixed;
        top: 100px;
        left: 35%;
        transform: translate(-35%, 0);
      }

      .text-box {
        h1 {
          @include fontInter(600);
          font-size: 45px;
          color: rgba(6, 30, 85, 1);
          margin-bottom: 12px;
        }
        p {
          @include fontInter(400);
          font-size: 16px;
          color: rgba(6, 30, 85, 1);
          line-height: 30px;
        }
      }

      .select-box {
        width: 394px;
        height: 188px;
        border: 1px solid rgba(227, 232, 246, 1);
        padding: 4px;
        border-radius: 19px;
        background-color: white;
        box-shadow: 10xp 10px 20px rgba(105, 205, 251, 1);
        div {
          background: linear-gradient(180deg, #fdfdff 0%, #e7f2fb 100%);
          border: 1px solid rgba(227, 232, 246, 1);
          height: 100%;
          border-radius: 16px;
          padding: 10px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          select {
            width: 100%;
            height: 47px;
            outline: none;
            border: 1px solid rgb(227, 229, 229);
            border-radius: 10px;
            font-family: "Inter", sans-serif;
            font-optical-sizing: auto;
            font-weight: 500;
            font-style: normal;
            appearance: none; /* default dropdown iconni o'chirish */
            background-image: url("./img/Left\ Actionable.svg"); /* o'z ikonkangiz */
            background-repeat: no-repeat;
            background-position: right 12px center;
            background-size: 24px;
          }
          button {
            background-color: rgba(17, 204, 221, 1);
            width: 100%;
            height: 46px;
            border-radius: 44.3px;
            @include fontInter(500);
            font-size: 16px;
            color: rgba(255, 255, 255, 1);
            border: none;
          }
        }
      }
    }

    .main-card {
      width: 80%;
      margin: 0 auto;
      display: flex;
      gap: 14px;
      justify-content: center;

      .box-1 {
        width: 40%;
        height: 100%;
        display: flex;
        gap: 14px;
        div {
          width: 50%;
          height: 80px;
          background: linear-gradient(90deg, #36d1dc 0%, #5b86e5 100%);
          border-radius: 12px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 6px;
          color: #fff;
          @include fontInter(600);
          text-align: center;
          img {
            width: 30px;
          }
        }
      }
      .box-2 {
        width: 40%;
        height: 100%;
        display: flex;

        gap: 14px;
        div {
          width: 50%;
          height: 80px;
          background: linear-gradient(90deg, #36d1dc 0%, #5b86e5 100%);
          border-radius: 12px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 6px;
          color: #fff;
          @include fontInter(600);
          img {
            width: 30px;
          }
        }
      }
    }
  }

  @media (max-width: 500px) {
    padding: 10px 0;
    .sec1-con {
      .nav-con {
        padding: 9px;
        .num {
          font-size: 13px;
          margin: 0;
          margin-left: 23px;
        }
        .logo-menu {
          ul {
            display: none;
          }

          .logo-img {
            width: 43px;
            height: 26px;
          }
        }

        .btn-menu {
          .contact {
            gap: 44px;
          }
          .btn-gr,
          div {
            display: none;
          }

          .burger {
            display: block;
          }
        }
      }

      .sec1-card {
        flex-direction: column;
        gap: 20px;

        .text-box {
          h1 {
            font-size: 35px;
          }
          p {
            font-size: 14px;
          }
        }

        .select-box {
          width: 100%;
        }

        .row {
          display: none;
        }
      }

      .main-card {
        width: 100%;
        flex-direction: column;

        .box-1,
        .box-2 {
          width: 100%;
        }
      }
    }
  }
}

.sec-2 {
  text-align: center;
  max-width: 100%;
  margin-bottom: 80px;
  position: relative;
  overflow: hidden;

  .left1 {
    position: absolute;
    top: 46%;
    left: -11%;
    z-index: -1;
  }
  .left2 {
    position: absolute;
    top: 54%;
    left: -11%;
    z-index: -1;
  }
  .right1 {
    position: absolute;
    top: 20%;
    left: 100%;
    z-index: -1;
    transform: translate(-65%, 0);
  }
  .right2 {
    position: absolute;
    top: 27%;
    left: 100%;
    z-index: -1;
    transform: translate(-65%, 0);
  }
  .right3 {
    position: absolute;
    top: 36.4%;
    left: 100%;
    z-index: -1;
    transform: translate(-65%, 0);
  }

  h1 {
    @include fontInter(600);
    font-size: 40px;
    span {
      color: rgba(4, 73, 210, 1);
    }
    margin-bottom: 20px;
  }

  .sub-title {
    @include fontInter(400);
    color: rgba(13, 13, 14, 1);
    font-size: 20px;
    margin-bottom: 30px;
  }

  .sec2-con {
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: start;
    justify-content: center;
    z-index: 999;
    gap: 15px;

    .box-1 {
      min-height: 550px;
      background-color: #fff;
      width: 310px;
      border: 1px solid rgba(234, 236, 240, 1);
      border-radius: 15px;
      padding-bottom: 20px;

      .box-head {
        padding: 20px 0;
        img {
          margin-bottom: 6px;
        }
        h1 {
          @include fontInter(600);
          color: rgba(16, 24, 40, 1);
          font-size: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 6px;
          .free {
            @include fontInter(600);
            font-size: 16px;
            color: rgba(16, 24, 40, 1);
          }
        }
        p {
          margin-bottom: 10px;
          color: rgba(91, 134, 229, 1);
          @include fontInter(600);
          font-size: 16px;
        }

        .p {
          @include fontInter(400);
          color: rgba(102, 112, 133, 1);
          font-size: 13px;
        }
      }

      .box-body {
        padding: 0 13px;
        div {
          line-height: 13px;
          display: flex;
          align-items: center;
          font-size: 12px;

          justify-content: left;
          gap: 6px;
          margin-bottom: 10px;
          text-align: left;
          @include fontInter(500);
          color: rgba(22, 36, 44, 1);
          .gray {
            color: rgba(160, 171, 187, 1);
          }
        }
        button {
          width: 100%;
          height: 36px;
          background-color: rgba(91, 134, 229, 1);
          border-radius: 6px;
          @include fontInter(600);
          font-size: 12px;
          color: rgba(255, 255, 255, 1);
          border: none;
        }
      }
    }
    .box-2 {
      min-height: 550px;
      background-color: #fff;
      width: 310px;
      border: 1px solid rgba(234, 236, 240, 1);
      border-radius: 15px;
      padding-bottom: 20px;

      .box-head {
        padding: 20px 0;
        img {
          margin-bottom: 6px;
        }
        h1 {
          @include fontInter(600);
          color: rgba(16, 24, 40, 1);
          font-size: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 6px;
          .free {
            @include fontInter(600);
            font-size: 16px;
            color: rgba(16, 24, 40, 1);
          }
        }
        p {
          color: rgba(91, 134, 229, 1);
          @include fontInter(600);
          font-size: 16px;

          margin-bottom: 10px;
        }

        .p {
          @include fontInter(400);
          color: rgba(102, 112, 133, 1);
          font-size: 13px;
        }
      }

      .box-body {
        padding: 0 13px;
        div {
          line-height: 13px;
          display: flex;
          align-items: center;
          justify-content: left;
          gap: 6px;
          margin-bottom: 10px;
          font-size: 12px;

          text-align: left;
          @include fontInter(500);
          color: rgba(22, 36, 44, 1);
          .gray {
            color: rgba(160, 171, 187, 1);
          }
        }
        button {
          width: 100%;
          font-size: 12px;

          height: 36px;
          background-color: rgba(28, 216, 210, 1);
          border-radius: 6px;
          @include fontInter(600);
          color: rgba(255, 255, 255, 1);
          border: none;
          margin-top: 2px;
        }
      }
    }
    .box-3 {
      min-height: 550px;
      background-color: #fff;
      width: 310px;
      border: 1px solid rgba(234, 236, 240, 1);
      border-radius: 15px;
      padding-bottom: 20px;

      .box-head {
        padding: 20px 0;
        img {
          margin-bottom: 6px;
        }
        h1 {
          @include fontInter(600);
          color: rgba(16, 24, 40, 1);
          font-size: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 6px;
          .free {
            @include fontInter(600);
            font-size: 16px;
            color: rgba(16, 24, 40, 1);
          }
        }
        p {
          color: rgba(255, 88, 88, 1);
          @include fontInter(600);
          font-size: 16px;
          margin-bottom: 10px;
        }

        .p {
          @include fontInter(400);
          color: rgba(102, 112, 133, 1);
          font-size: 13px;
        }
      }

      .box-body {
        padding: 0 13px;
        div {
          line-height: 13px;
          display: flex;
          align-items: center;
          justify-content: left;
          gap: 6px;
          margin-bottom: 10px;
          text-align: left;
          @include fontInter(500);
          font-size: 12px;

          color: rgba(22, 36, 44, 1);
          .gray {
            color: rgba(160, 171, 187, 1);
          }
        }
        button {
          width: 100%;
          height: 36px;
          font-size: 12px;

          background-color: rgba(248, 87, 166, 1);
          border-radius: 6px;
          @include fontInter(600);
          color: rgba(255, 255, 255, 1);
          border: none;
          margin-top: 2px;
        }
      }
    }
  }

  @media (max-width: 500px) {
    margin-bottom: 30px;
    h1 {
      font-size: 28px;
    }
    .sub-title {
      font-size: 14px;
    }
    padding: 16px;
    .sec2-con {
      flex-direction: column;
      .box-1,
      .box-2,
      .box-3 {
        width: 100%;
        min-height: 600px;
      }
    }
  }
}

.sec-3 {
  width: 100%;
  margin-bottom: 80px;

  .sec3-con {
    box-shadow: 0px 3.17px 16.31px 0px rgba(0, 76, 255, 0.11);
    box-shadow: 0px 29.3px 66.92px 0px rgba(66, 68, 106, 0.08);
    max-width: 1100px;
    height: 570px;
    margin: 0 auto;
    padding: 13px;
    border-radius: 28px;
    div {
      width: 100%;
      background: url("./img/Frame\ 2617.svg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      border-radius: 28px;
      height: 100%;
    }
  }
  .sec3-con-media {
    display: none;
    max-width: 1210px;
    min-height: 580px;
    margin: 0 auto;
    background: url("./img/фон.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 28px;

    div {
      width: 100%;
      height: 300px;
      display: flex;
      flex-direction: column;
      gap: 40px;

      gap: 40px;
      h1 {
        @include fontInter(600);
        font-size: 32px;
        line-height: 44px;
        color: rgba(255, 255, 255, 1);
      }
      button {
        width: 200px;
        height: 50px;
        background-color: rgba(42, 171, 238, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: none;
        color: #fff;
        @include fontInter(500);
        border-radius: 9px;
        font-size: 13px;
      }
    }
  }

  @media (max-width: 500px) {
    margin-bottom: 10px;
    .sec3-con {
      border-radius: 0;
      margin: 0;
      padding: 0;
      display: none;
    }

    .sec3-con-media {
      padding-top: 35px;
      padding-left: 22px;
      display: flex;
      margin-bottom: 40px;
    }
  }
}

.sec-4 {
  width: 100%;
  text-align: center;
  margin-bottom: 80px;

  h1 {
    @include fontInter(600);
    font-size: 40px;
    margin-bottom: 30px;
  }

  .sec4-con {
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    margin-bottom: 25px;

    .box-1 {
      width: 33%;
      height: 202px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border-radius: 35px;
      gap: 15px;
      background: linear-gradient(
        90deg,
        rgba(54, 209, 220, 0.15) 0%,
        rgba(91, 134, 229, 0.15) 100%
      );

      @include fontInter(700);
      font-size: 16px;
    }
    .box-2 {
      width: 33%;
      height: 202px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border-radius: 35px;
      gap: 15px;
      background: linear-gradient(
        90deg,
        rgba(28, 216, 210, 0.15) 0%,
        rgba(147, 237, 199, 0.15) 100%
      );

      @include fontInter(700);
      font-size: 16px;
    }
    .box-3 {
      width: 33%;
      height: 202px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border-radius: 35px;
      gap: 15px;
      background: linear-gradient(
        90deg,
        rgba(248, 87, 166, 0.15) 0%,
        rgba(255, 88, 88, 0.15) 100%
      );

      @include fontInter(700);
      font-size: 16px;
    }
  }
  button {
    @include fontInter(600);
    color: #fff;

    width: 330px;
    height: 58px;
    background-color: rgba(0, 76, 255, 1);
    border-radius: 100px;
    border: none;
    font-size: 16px;
  }

  @media (max-width: 500px) {
    padding: 10px;
    margin-bottom: 40px;

    h1 {
      width: 314px;
      font-size: 24px;
      margin: 0 auto 40px;
    }

    .sec4-con {
      flex-direction: column;
      gap: 5px;
      .box-1,
      .box-2,
      .box-3 {
        width: 100%;
        border-radius: 25px;
      }
    }
    button {
      width: 100%;
    }
  }
}

.sec-5 {
  width: 100%;
  padding: 10px;
  margin-bottom: 80px;

  .sec5-con {
    max-width: 1200px;
    height: 465px;
    margin: 0 auto;
    background: url("./img/image\ \(8\).svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .sec5-con-media {
    max-width: 1200px;
    height: 320px;
    margin: 0 auto;
    background: url("./img/image.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: none;

    div {
      width: 290px;
      text-align: center;
      color: rgba(255, 255, 255, 1);
      h1 {
        @include fontInter(600);
        font-size: 28px;
      }
      p {
        @include fontInter(400);
        font-size: 14px;
        margin: 10px 0 20px;
      }
      button {
        width: 120px;
        height: 44px;
        border: 1px solid rgba(255, 255, 255, 1);
        border-radius: 9px;
        color: rgba(255, 255, 255, 1);
        background-color: transparent;
      }
    }
  }

  @media (max-width: 500px) {
    margin-bottom: 40px;
    .sec5-con {
      display: none;
    }
    .sec5-con-media {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.sec-6 {
  width: 100%;
  margin-bottom: 80px;
  h1 {
    @include fontInter(600);
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
  }
  .sec6-con {
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    z-index: 1;
    background: radial-gradient(
      circle at center,
      rgba(212, 225, 248, 0.55) 0%,
      rgba(231, 239, 253, 0.11) 50%
    );
    backdrop-filter: blur(200px);
    -webkit-backdrop-filter: blur(200px);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px;

    .box-1 {
      width: 396px;
      min-height: 330px;
      padding: 20px;
      border-radius: 22px;
      background-color: rgba(255, 255, 255, 1);
      h1 {
        @include fontInter(700);
        font-size: 20px;
        margin-bottom: 20px;
        width: 310px;
        text-align: left;
        line-height: 30px;
      }

      .img-box {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: start;
        height: 120px;
        margin-left: auto;
        p {
          @include fontInter(400);
          color: rgba(141, 141, 141, 1);
          font-size: 16px;
        }

        img {
          width: 130px;
        }
      }
    }
    .box-2 {
      width: 400px;
      height: 330px;
      padding: 20px;
      border-radius: 22px;
      background-color: rgba(255, 255, 255, 1);
      h1 {
        @include fontInter(700);
        font-size: 20px;
        margin-bottom: 20px;
        text-align: left;
        line-height: 30px;
      }

      p {
        @include fontInter(400);
        color: rgba(141, 141, 141, 1);
        font-size: 16px;
      }

      .img-box {
        width: 130px;
        height: 120px;
        margin-left: auto;
        img {
          width: 100%;
        }
      }
    }
    .box-3 {
      width: 351px;
      height: 215px;
      margin-bottom: -30px;
      padding: 20px;
      border-radius: 22px;
      background-color: rgba(255, 255, 255, 1);

      p {
        @include fontInter(400);
        color: rgba(141, 141, 141, 1);
        font-size: 16px;
      }

      .img-box {
        h1 {
          @include fontInter(700);
          font-size: 20px;
          text-align: left;
          line-height: 30px;
        }
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
        img {
          width: 70px;
        }
      }
    }
    .box-4 {
      width: 284px;
      height: 270px;

      padding: 20px;
      border-radius: 22px;
      background-color: rgba(255, 255, 255, 1);

      p {
        @include fontInter(400);
        color: rgba(141, 141, 141, 1);
        font-size: 16px;
      }

      .img-box {
        h1 {
          @include fontInter(700);
          font-size: 20px;
          text-align: left;
          line-height: 30px;
        }
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
        img {
          width: 80px;
        }
      }
    }
  }

  @media (max-width: 500px) {
    margin-bottom: 40px;
    h1 {
      font-size: 28px;
      width: 314px;
      margin: 0 auto;
    }
    .sec6-con {
      display: flex;
      flex-direction: column;
      position: static;
      gap: 10px;

      .box-1,
      .box-2,
      .box-3,
      .box-4 {
        min-height: 220px;
        top: 0;
        left: 0;
        position: static;
        width: 100%;
        margin-bottom: 10px;
        box-shadow: 0px 3.17px 12.31px 0px rgba(0, 76, 255, 0.11);
        box-shadow: 0px 29.3px 46.92px 0px rgba(66, 68, 106, 0.08);
      }

      .box-1 {
        h1 {
          width: 269px;
          font-size: 18px;
          margin: 0;
          margin-bottom: 12px;
        }
        .img-box {
          p {
            font-size: 14px;
          }
          img {
            width: 108px;
          }
        }
      }
      .box-2 {
        height: 290px;
        h1 {
          font-size: 18px;
          width: 266px;
          margin: 0;
          margin-bottom: 12px;
        }
        p {
          font-size: 14px;
          width: 280px;
        }

        .img-box {
          width: 89px;
          height: 89px;
        }
      }

      .box-3 {
        min-height: 250px;
        p {
          width: 200px;
        }
        .img-box {
          justify-content: space-between;
          h1 {
            margin: 0;
            width: 200px;
            font-size: 18px;
          }
          img {
            margin-top: 50px;
          }
        }
      }
      .box-4 {
        height: 210px;
        .img-box {
          justify-content: space-between;
          h1 {
            width: 166px;
            font-size: 18px;
            margin: 10px;
          }
        }
      }
    }
  }
}

.sec-7 {
  width: 100%;
  background-color: rgba(248, 249, 253, 1);
  padding: 40px 0;

  .top-footer {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: rgba(22, 36, 44, 1);
    padding: 19px;
    border-radius: 12px;
    margin-bottom: 30px;

    p {
      @include fontInter(600);
      font-size: 22px;
      color: rgba(255, 255, 255, 1);
    }

    div {
      display: flex;
      align-items: center;
      gap: 10px;

      .btn-2 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        width: 300px;
        height: 60px;
        border-radius: 9px;
        border: 1px solid rgba(42, 171, 238, 1);
        gap: 10px;
        padding: 10px;
        color: rgba(255, 255, 255, 1);
        background: linear-gradient(180deg, #2aabee 0%, #229ed9 10000%);

        @include fontInter(500);
        font-size: 18px;
      }

      .btn-1 {
        width: 170px;
        height: 60px;
        background-color: #fff;
        color: #222;
        border: none;
        border-radius: 9px;
        @include fontInter(500);
        font-size: 18px;
      }
    }
  }

  .footer {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;

    ul {
      list-style: none;
      @include fontInter(400);
      font-size: 16px;
      color: rgba(147, 147, 147, 1);
      li {
        margin-bottom: 10px;
      }
    }
  }

  .hr {
    max-width: 1200px;
    height: 1px;
    background-color: rgba(208, 213, 221, 1);

    margin: 35px auto 20px;
  }

  .end-text {
    text-align: center;
    @include fontInter(400);
    font-size: 14px;
    color: rgba(208, 213, 221, 1);
  }

  @media (max-width: 500px) {
    padding: 10px;
    .top-footer {
      flex-direction: column;
      gap: 10px;
      text-align: center;

      p {
        font-size: 18px;
        width: 297px;
      }
      div {
        width: 100%;
        flex-direction: column;
        .btn-1,
        .btn-2 {
          width: 100%;
        }
      }
    }

    .footer {
      flex-direction: column;
      align-items: center;

      img {
        margin-bottom: 20px;
      }

      ul {
        margin-bottom: 25px;
        font-size: 14px;
        text-align: center;
      }
    }
  }
}
